version: '3.8'
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: math-llm-backend
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]

  geolin:
    image: ghcr.io/mathdepitmo/geolin-milestones:latest
    restart: always
    ports:
      - 8000:8080

  mongo:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongoadmin
    ports:
      - 27017:27017
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  llmath-problems:
    image: ghcr.io/mathai-itmo/llmath-problems:dev-2-merge
    restart: always
    ports:
      - 8001:8000
    environment:
      CONNECTION_STRING: "mongodb://mongoadmin:mongoadmin@mongo:27017/?authSource=admin"
    depends_on:
      mongo:
        condition: service_healthy